<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hello, <%= @participant.name %></h1>
    <p>
      Your interview has been canceled for date: <%= @user.st_time %>.<br>
    </p>
    <p>Thanks you and have a great day!</p>
  </body>
</html>